/* RESETEO DE ESTILOS */

/* VARIABLES */
/* Siempre trata de definir custom properties */
:root{
    font-size: 62.5%;
    --main-font: 'Nunito';
    --main-color: #ebd63b;
    --sec-color:#222;
    --main-modal-color: rgba(247, 222, 30, 0.25);
    --sec-modal-color: rgba(34, 34, 34, 0.85);
    --bg-color: rgb(200, 234, 245);
    --container-width: 1200px;
    --offline: #f7172c;
    --online: #14bd14;
}

/* RESETEO */
/*Try to set gobal styles within html selector, USE CUSTOM PROPERTIES */
html{
    font-family: var(--main-font);
    scroll-behavior:smooth;
    box-sizing: border-box;
}
/* Para resetterar los margin y padding usa el selector *, si usas el html solo se aplica al body como tal y no a todos los elementos contenidos en el */
/* Para que todo herede el border-box */
*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    overflow-x: hidden;    
    --main-color: #ebd63b;
    background-color: var(--bg-color);
    transition: all .3s ease-in;
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 15vh;
    color: var(--sec-color);
    background-color: var(--main-color);
}
.banner {
    visibility: hidden;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 15px;
    font-size: 2.3rem;    
}
.banner--offline {
    visibility: visible;
    background-color: var(--offline);
}
.banner--online {
    visibility: visible;
    background-color: var(--online);
}

h1,
h2{
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 2.6rem;
}
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
    padding: 3.2rem;
    padding-top: 10.4rem;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

h2 {
    font-size: 2.0rem;
}
h3 {font-size: 1.8rem;
    width: 100%;
    /* margin: 20px 0px; */
}
iframe {
    margin: 20px 5px;
};
form {
    min-width: 300px;
    max-width: 500px;
}
li {
    list-style: none;
}

.input {
    width: 100%;
    height: 30px;
    margin-bottom: 3px;
    padding: 3px 10px 3px 10px;
    border: 0;
    border-bottom: solid 1px var(--main-color);
    border-radius: 10px;
    box-shadow: inset -1px -2px 11px 0px var(--sec-color);

}
form label {
    text-align: left;
}
input[type=submit], .close-win{
    display: inline;
    border: 0;
    width: 20%;
}

/* Las imagenes ocuparan todo el ancho de los contenedores */
img {
    max-width: 100%;
    height: auto;
}

/* Burger Menu */
/* Para conseguir una transicion aplicamos transform para sacarla de la vista del dom y luego aplicamos transition para regresarla a el lugar que debe*/
.hamburger-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--sec-modal-color);
    overflow-y: auto;
    transition: transform 200ms ease-in;
    transform: translate(-100%,0);
    
}
.hamburger-menu nav{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}
.hamburger-menu li {
    width: 100%;
    font-size: 2.6rem;
    text-align:left;
    list-style: none;
    height: fit-content;
    text-overflow: ellipsis;
}
.hamburger-menu a {
    display: block;
    height: 90px;
    padding: 3.2rem;
    color: var(--main-color);
    line-height: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.hamburger-menu a:hover{
    font-weight: bold;
    background-color: var(--main-modal-color);
}

/* Reloj */
.clock {
    margin: 10px 0px;
    height: 30px;
    font-size: 2.0rem;
    font-weight: bold;
}
.clock__btns{
    margin: 10px 0px;
}
/* Ball */
.playground {
    display: flex;
    width: 100%;
    min-height: 50vh;
    background-color: var(--sec-color);
}
.ball{
    
    margin:auto;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: var(--main-color);
}
/* Countdown */
.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.7rem;
    font-weight: bold;
    height: 5vh;  
    transition: transform 2s ease-in-out, font-size 2s ease-in-out; 
}

.countdown--ended{
    font-size: 2.5rem;
    transform: rotate(360deg);
}
/* Hamburger Menu */
.btn, .hamburger-btn{
    position: fixed;
    left: 74vw;
    bottom:2vw;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--main-color);
    transition: all .2s ease-in;
}

/* To Top Btn */
.to-top-btn{
    visibility: hidden;
    padding: 15px;
    left: calc(74vw - 7.4rem);
    transition: all 0.2s ease-in-out;
    opacity: 0%;
    cursor: default;
}
.to-top-btn:hover{
    background-color: var(--sec-color);
}
.to-top-btn svg:hover{
    fill: var(--main-color);
}
.to-top-btn--transition{
    opacity: 100%;
    visibility: visible;
    cursor: pointer;
}

/* Dark Mode */
.dark-mode-btn{
    left: 13vw;
    transition: all .2 ease-in;
    font-size: 3.0rem;
    /* content: 🌙; */
}
.dark-mode-btn:hover{
    background-color: var(--sec-color);
    
}
.dark-mode{
    background-color: var(--sec-color);
    fill: var(--sec-color);
    color: var(--main-color);
    
}


.dark-mode-alt{
    background-color: var(--main-color);
}
/* Geolocalization Button */
#geo-btn{
    display: block;
    margin: 0 auto;
    width:fit-content;
    height: 10vh;
    padding: 10px 10px;
    border-radius: 40px;
    background-color: var(--main-modal-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}
#geo-btn:hover{
    background-color: var(--main-color);
}
/* Filter */
.search-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1em;
}
.search-tag{
    transition:all 0.5s ease-in-out;
}
.search-tag img{
    display: block;
    
}
.search-tag--isinvisible{
    /* display:none; */
    order: 1;
    opacity: 0;
    visibility: hidden;
}
/* Digital GiveAway */
.giveaway-item a{
    pointer-events: none;
}
/* Utilities */
/* Hide Element */
.is-displayed{
    transform: translate(0,0);  
}
/* Buttons Styling (Giveaway btn) */
.button {
    width: 3em;
    height: 1em;
}
/* Responsive Slider */
ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
  
.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}
  
.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}
  
.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}
  
.carousel__slide:nth-child(even) {
    background-color: #99f;
}
  
.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
}
  
.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}
  
@media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
}
  
  
  
.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}
  
.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}
  
.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}
  
.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}
  
.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
    position: absolute;
    top: 0;
    margin-top: 37.5%;
    width: 4rem;
    height: 4rem;
    transform: translateY(-50%);
    border-radius: 50%;
    font-size: 0;
    outline: 0;
}
  
.carousel::before,
.carousel__prev {
    left: -1rem;
}
  
  .carousel::after,
  .carousel__next {
    right: -1rem;
}
  
.carousel::before,
.carousel::after {
    content: '';
    z-index: 1;
    background-color: #333;
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    font-size: 2.5rem;
    line-height: 4rem;
    text-align: center;
    pointer-events: none;
}
  
.carousel::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}
  
.carousel::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}

/* Media Query Hamburger Menu */
@media (min-width: 1024px) {
    body {
        justify-content: initial;
    }
    main {
        width: 70vw;
    }   
    .hamburger-menu {
        transform: unset;
        width: 30vw;
        top: calc(100vh - 85vh);
        left: unset;
        right: 0;
        color: var(--main-color);
    }
    .hamburger-menu a {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .hamburger-menu-a--active {
        font-weight: bold;
        background-color: var(--main-modal-color);
    }
    
    .hamburger-btn {
        display: none;
    }
    .dark-mode-btn {
        left: 3vw;
    }
    .to-top-btn {
        left: calc(70vw - 7vw);
    }
}


/* Hmaburger Menu */
.hamburger {
transition-property: opacity, filter;
transition-duration: 0.15s;
transition-timing-function: linear;
font: inherit;
color: inherit;
text-transform: none;
border: 0;
margin: 0;
overflow: visible; }
.hamburger:hover {
opacity: 0.7; }
.hamburger.is-active:hover {
opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
background-color: #000; }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
.hamburger-inner {
display: block;
top: 50%;
margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }
    
/*Squeeze*/
.hamburger--squeeze .hamburger-inner {
transition-duration: 0.075s;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
transform: rotate(45deg);
transition-delay: 0.12s;
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  
/* ScrollBar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #404113 14%,#202003 60%);
    border-radius: 12px;
    box-shadow: inset 1px 16px 12px #eff0ed;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(0deg, #404113 14%,#55550e 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}
