/* RESETEO DE ESTILOS */

/* VARIABLES */
/* Siempre trata de definir custom properties */
:root{
    font-size: 62.5%;
    --main-font: 'Nunito';
    --main-color: #ebd63b;
    --sec-color:#222;
    --main-modal-color: rgba(247, 222, 30, 0.25);
    --sec-modal-color: rgba(34, 34, 34, 0.85);
    --bg-color: rgb(200, 234, 245);
    --container-width: 1200px;
}

/* RESETEO */
/*Try to set gobal styles within html selector, USE CUSTOM PROPERTIES */
html{
    font-family: var(--main-font);
    scroll-behavior:smooth;
    box-sizing: border-box;
}
/* Para resetterar los margin y padding usa el selector *, si usas el html solo se aplica al body como tal y no a todos los elementos contenidos en el */
/* Para que todo herede el border-box */
*,
*::before,
*::after{
    box-sizing: inherit;
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-flow: row wrap; 
    justify-content: center;
    align-items: center;
    overflow-x: hidden;    
    background-color: var(--bg-color);
}

/* HEADER */
.header {
    position: sticky;
    top: 0;
    width: 100vw;
    padding: 1.6rem;
    color: var(--sec-color);
    background-color: var(--main-color);
}

h1,
h2{
    width: 100%;
    text-align: center;
    line-height: 75px;
    font-size: 2.6rem;
}
.section {
    padding: 3.2rem;
    padding-top: 10.4rem;
    width: 100vw;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

h2 {
    font-size: 2.0rem;
}
h3{font-size: 1.8rem;
    margin: 10px 0px;}

/* Las imagenes ocuparan todo el ancho de los contenedores */
img {
    max-width: 100%;
    height: auto;
}

/* Burger Menu */
/* Para conseguir una transicion aplicamos transform para sacarla de la vista del dom y luego aplicamos transition para regresarla a el lugar que debe*/
.hamburger-menu {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: var(--sec-modal-color);
    transition: transform 200ms ease-in;
    transform: translate(-100%,0);
    
}
.hamburger-menu nav{
    display: flex;
    flex-flow: wrap row;
    align-items: center;
}
.hamburger-menu li {
    width: 100vw;
    font-size: 2.6rem;
    text-align: center;
    list-style: none;
}
.hamburger-menu a {
    display: block;
    height: 90px;
    padding: 3.2rem;
    color: var(--main-color);
    line-height: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}
.hamburger-menu a:hover{
    font-weight: bold;
    color: var(--sec-color);
    background-color: var(--main-modal-color);
}

/* Reloj */
.clock {
    margin: 10px 0px;
    font-size: 2.0rem;
    font-weight: bold;
}
.clock__btns{
    margin: 10px 0px;
}

/* Utilities */
/* Hide Element */
.hamburger-btn {
    display: flex;
    position: fixed;
    left: 74vw;
    bottom:2vw;
    width: 6.4rem;
    height: 6.4rem;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--main-color);
}
.is-displayed{
    transform: translate(0,0);  
}
/* Hmaburger Menu */
.hamburger {
transition-property: opacity, filter;
transition-duration: 0.15s;
transition-timing-function: linear;
font: inherit;
color: inherit;
text-transform: none;
border: 0;
margin: 0;
overflow: visible; }
.hamburger:hover {
opacity: 0.7; }
.hamburger.is-active:hover {
opacity: 0.7; }
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
background-color: #000; }

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative; }
.hamburger-inner {
display: block;
top: 50%;
margin-top: -2px; }
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
.hamburger-inner::before {
    top: -10px; }
.hamburger-inner::after {
    bottom: -10px; }
    
/*Squeeze*/
.hamburger--squeeze .hamburger-inner {
transition-duration: 0.075s;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
.hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
transform: rotate(45deg);
transition-delay: 0.12s;
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
.hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }
  
/* ScrollBar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #404113 14%,#202003 60%);
    border-radius: 12px;
    box-shadow: inset 1px 16px 12px #eff0ed;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(0deg, #404113 14%,#55550e 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}
