:root{
    font-size: 62.5%;
    font-family: 'Nunito';
    --bg-color: rgba(27, 97, 236, 0.753);
    --bg-sec-color:#5689;
    --border-card-section: rgb(214, 98, 117);
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color:antiquewhite;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
h1, h2, h3{
    text-align: center;
    width: 2000px;
    margin-top:30px;
    margin-bottom: 30px;
    font-size: 1.6rem;
   color:green;
   /* max-width: 200px; */
}

